*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #333333;
}

body {
    background-color: #f1f1f1;
    color: var(--dark)
}

h1,
h2,
p {
    margin: 1rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    margin-top: 50px;
}

p {
   grid-column: 2;
}

form {
    display: grid;
    grid-template-columns: max-content 400px;
    margin: 0 auto;
    gap: 0.5em 0em;
    width: 550px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form>*{
    padding: 0.5rem;
}

form>*:nth-child(2n-1) {
    text-align: right;
}

form>*:nth-child(2n) {
    padding: 0.5rem;
}

#submit {
    grid-column: 2;
    width: fit-content;
    margin: 30px auto 0;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ff6f6f;
    border: none;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    transition: background-color 0.2s linear;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#submit:hover {
    background-color: #adff2f;
}

ul {
    width: fit-content;
    margin: 30px auto 0;
    line-height: 2rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    white-space: nowrap;
}